{# This was another option to override the sku block but I think its more
clear to make a new one #}
{# {% block _product_view_attribute_group_general_attribute_text_sku_widget %}#}
{#    {% set attr = layout_attr_defaults(attr, {#}
{#        '~class': ' sku'#}
{#    }) %}#}
{#    <p {{ block('block_attributes') }}>#}
{#        {{ 'oro.product.frontend.index.item'|trans }} <span class="sku__code" itemprop="sku">{{ entity.sku|e }}</span>#}
{#        <br>#}
{#        Stock: <span class="stock_code" itemprop="stock">{{ entity.inventory_status | trans}}</span>#}
{#    </p>#}
{#{% endblock %}#}


{% block _product_stock_widget %}
    {% set attr = layout_attr_defaults(attr, {
        '~class': ' stock'
    }) %}
        <p {{ block('block_attributes') }}>
            Inventory Status:
            <span id="inventory_status" class="{{ product.inventory_status.id }}" itemprop="stock">
                {{ product.inventory_status }}
            </span>
        </p>

{% endblock %}
